/*************************/
.project-back {
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  color: #fff;
}
.project-back .project-des {
  position: relative;
  margin-left: 1%;
  margin-right: 5%;
}
.project-back .project-des:first-child {
  margin-top: 45px;
}
.project-back .project-des h2 {
  width: 145px;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 1.3;
  color: #bac2c1;
  text-align: right;
}
.project-back .project-des .divide {
  position: absolute;
  top: -2px;
  left: 150px;
  width: 1px;
  height: 25px;
  background: #4c4c4c;
}
.project-back .project-des p {
  position: relative;
  top: -22px;
  left: 180px;
  width: 80%;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.5;
}
.project-back .project-des .design-group {
  margin-top: 4.5%;
}
.project-back .project-des .design-group .design-box {
  width: 28%;
  display: inline-block;
  margin-left: 4.5%;
}
.project-back .project-des .design-group .design-box .design-frame {
  position: relative;
  cursor: pointer;
}
.project-back .project-des .design-group .design-box .design-frame:hover a {
  height: 100%;
}
.project-back .project-des .design-group .design-box .design-frame img {
  max-width: 100%;
}
.project-back .project-des .design-group .design-box .design-frame a {
  position: absolute;
  padding: 0 10px 0 15px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  transition: height 0.3s;
}
.project-back .project-des .design-group .design-box .design-frame a h3 {
  font-size: 0.8em;
  letter-spacing: 1px;
  line-height: 30px;
}
.project-back .project-des .design-group .design-box .design-frame a span {
  font-size: 0.7em;
  font-weight: 300;
  color: #d3d3d3;
  letter-spacing: 1px;
  line-height: 1.5;
}
.project-back .project-des .design-title {
  text-align: center;
  margin: 0 auto;
  margin-top: 50px;
  border-right: 1px solid;
  border-left: 1px solid;
  letter-spacing: 10px;
  padding-left: 6px;
}
