/*************************/
.skills-back {
  margin: 0;
  padding: 0;
  height: 305px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1px;
  color: #ffffff;
}
.skills-back .skill-program, .skills-back .skill-other {
  padding-top: 55px;
  padding-left: 45px;
}
.skills-back .skill-program h2, .skills-back .skill-other h2 {
  position: relative;
  width: 145px;
  font-size: 1.7em;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.3;
}
.skills-back .skill-program .divide, .skills-back .skill-other .divide {
  position: absolute;
  top: 55px;
  left: 230px;
  width: 1px;
  height: 70px;
  background: #4c4c4c;
}
.skills-back .skill-program .item, .skills-back .skill-other .item {
  position: absolute;
  top: 55px;
  left: 275px;
}
.skills-back .skill-program .item ul, .skills-back .skill-other .item ul {
  margin-top: -5px;
}
.skills-back .skill-program .item ul li, .skills-back .skill-other .item ul li {
  float: left;
  width: 100px;
  height: 30px;
  background: #f7596a;
  font-size: 0.8em;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 1px;
}
.skills-back .skill-program .item ul li.design, .skills-back .skill-other .item ul li.design {
  background: #e6ad37;
}
.skills-back .skill-program .item ul li.tool, .skills-back .skill-other .item ul li.tool {
  background: #2ebbaf;
}
